<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header><h1><a href="/">Rajesh Potlia</a></h1></header>
    <nav>
      <a href="/about">About</a> |
      <a href="/research">Research</a> |
      <a href="/publications">Publications</a> |
      <a href="/blog">Blog</a> |
      <a href="/cv">CV</a>
    </nav>
    <main>
      {{ content }}
    </main>
    <footer><p>&copy; 2025 Rajesh Potlia</p></footer>
  </body>
</html>
